<div class="relative overflow-hidden main">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-10 sm:py-24">
        <div class="text-center">

            <h1 class="text-4xl sm:text-6xl font-bold text-gray-800">
            Register
            </h1>
            <div class="mt-5 sm:mt-12 mx-auto max-w-xl relative">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="relative z-10 flex space-x-3 p-3 bg-white border rounded-lg shadow-lg shadow-gray-100">

                    <div class="flex-[1_0_0%]">
                        <label for="email" class="block text-sm text-gray-700 font-medium"><span
                        class="sr-only">Email</span></label>
                        <input type="email" name="email" id="email"
                        class="p-3 block w-full border-transparent rounded-md focus:border-blue-500 focus:ring-blue-500"
                        placeholder="example@abc.com" formControlName="email">
                        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
                            <small class="text-red-500" *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</small>
                            <small class="text-red-500" *ngIf="registerForm.get('email')?.hasError('email')">Invalid email format.</small>
                        </div>
                    </div>

                    <div class="flex-[1_0_0%]">
                        <label for="password" class="block text-sm text-gray-700 font-medium"><span
                        class="sr-only">Password</span></label>
                        <input type="password" name="password" id="password"
                        class="p-3 block w-full border-transparent rounded-md focus:border-blue-500 focus:ring-blue-500"
                        placeholder="12345678" formControlName="password">

                        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
                            <small class="text-red-500" *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</small>
                            <small class="text-red-500" *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters long.</small>
                        </div>
                    </div>

                    <button type="submit" class="p-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm" [disabled]="registerForm.invalid">Register</button>

                </div>
                </form>

                <div *ngIf="message">{{ message }}</div>
            </div>
        </div>
    </div>
</div>